img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

/*colocando uma margem de linhas quando o mouse passa sobre a área de drop*/
.nv-file-over {
    border: dotted 3px red;
}

/*Colocando o texto dos botões transparentes para não sobrepor a área de upload*/
input[type=file] {
    color: transparent;
}